ul{
    list-style: none;
    
}
 .junto{
    position: absolute;
} 

.rectangulo1{
    position: relative;
    background-color: rgb(245, 200, 0);
}

h2{
    color: rgb(0, 153, 255);
    font-style: italic;
}

.rectangulo2{
    position: relative;
    background-color: rgba(255, 187, 0, 0.26);
}

h3{
    color: rgb(90, 192, 158);
}

.cursiva{
    font-style: italic;
    color: rgb(0, 128, 85);
}
span{
    font-style: normal;
    color: black;
}