.cuadrado1 {
  font-family: Lucida Sans Unicode;
  border: solid #cdc6c6;
  border-top-width: 7px;
  border-right-width: 5px;
  border-bottom-width: 7px;
  border-left-width: 5px;
}
.cuadrado2 {
  margin: 1px;
  padding: 1px;
  border: 0.5px solid #cdc6c6;
}

h2 {
  letter-spacing: 5px;
  text-align: center;
}

.natural {
  color: green;
}

.sierra {
  color: rgb(255, 204, 0);
}

.cuadrado3 {
  margin: 20px;
  padding: 20px;
  border: 0.5px solid #cdc6c6;
}

.parque {
  color: lime;
  border-bottom: 1px solid lime;
}
h4 {
  color: rgb(165, 124, 42);
}
